In [281]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [282]:
# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [283]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [284]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [285]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [286]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()
student_count

39170

In [287]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [288]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [289]:
# percentage of students who passed math >= 70
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [290]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [291]:
# Calculate the percentage of students who passed reading 
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [262]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [292]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "Overall Passing Rate": [overall_passing_rate]
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,Bailey High School Cab...

In [293]:
# School type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [294]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index("school_name")["size"]

per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [295]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_counts = school_data.set_index("school_name")["size"]
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [296]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

In [297]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [298]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [299]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [300]:
#school_students_passing_math = school_students_passing_math.reindex(per_school_counts.index, fill_value=0)
#school_students_passing_reading = school_students_passing_reading.reindex(per_school_counts.index, fill_value=0)
#school_students_passing_math_and_reading = school_students_passing_math_and_reading.reindex(per_school_counts.index, fill_value=0)

# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [306]:
# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

# Format the 'Total Students' and 'Total School Budget' columns
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("${:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("${:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("${:,.2f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("${:,.2f}".format)
per_school_summary["Overall Passing Rate"] = per_school_summary["Overall Passing Rate"].map("${:,.2f}".format)


# Display the per_school_summary DataFrame
print(per_school_summary)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District       4,976.00       $3,124,928.00
Cabrera High School       Charter       1,858.00       $1,081,356.00
Figueroa High School     District       2,949.00       $1,884,411.00
Ford High School         District       2,739.00       $1,763,916.00
Griffin High School       Charter       1,468.00         $917,500.00
Hernandez High School    District       4,635.00       $3,022,020.00
Holden High School        Charter         427.00         $248,087.00
Huang High School        District       2,917.00       $1,910,635.00
Johnson High School      District       4,761.00       $3,094,650.00
Pena High School          Charter         962.00         $585,858.00
Rodriguez High School    District       3,999.00       $2,547,363.00
Shelton High School       Charter       1,761.00       $1,056,600.00
Thomas High School        Charter       1,635.00       $1,043,130.00
Wilson High School        Charter       2,283.00       $1,319,574.00
Wright High School        Charter       1,800.00       $1,049,400.00

                      Per Student Budget Average Math Score  \
school_name
Bailey High School               $628.00             $77.05
Cabrera High School              $582.00             $83.06
Figueroa High School             $639.00             $76.71
Ford High School                 $644.00             $77.10
Griffin High School              $625.00             $83.35
Hernandez High School            $652.00             $77.29
Holden High School               $581.00             $83.80
Huang High School                $655.00             $76.63
Johnson High School              $650.00             $77.07
Pena High School                 $609.00             $83.84
Rodriguez High School            $637.00             $76.84
Shelton High School              $600.00             $83.36
Thomas High School               $638.00             $83.42
Wilson High School               $578.00             $83.27
Wright High School               $583.00             $83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                   $81.03         $66.68            $81.93
Cabrera High School                  $83.98         $94.13            $97.04
Figueroa High School                 $81.16         $65.99            $80.74
Ford High School                     $80.75         $68.31            $79.30
Griffin High School                  $83.82         $93.39            $97.14
Hernandez High School                $80.93         $66.75            $80.86
Holden High School                   $83.81         $92.51            $96.25
Huang High School                    $81.18         $65.68            $81.32
Johnson High School                  $80.97         $66.06            $81.22
Pena High School                     $84.04         $94.59            $95.95
Rodriguez High School                $80.74         $66.37            $80.22
Shelton High School                  $83.73         $93.87            $95.85
Thomas High School                   $83.85         $93.27            $97.31
Wilson High School                   $83.99         $93.87            $96.54
Wright High School                   $83.95         $93.33            $96.61

                      Overall Passing Rate
school_name
Bailey High School                  $54.64
Cabrera High School                 $91.33
Figueroa High School                $53.20
Ford High School                    $54.29
Griffin High School                 $90.60
Hernandez High School               $53.53
Holden High School                  $89.23
Huang High School                   $53.51
Johnson High School                 $53.54
Pena High School                    $90.54
Rodriguez High School               $52.99
Shelton High School                 $89.89
Thomas High School                  $90.95
Wilson High School                  $90.58
Wright High School                  $90.33

In [307]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858.00","$1,081,356.00",$582.00,$83.06,$83.98,$94.13,$97.04,$91.33
Thomas High School,Charter,"1,635.00","$1,043,130.00",$638.00,$83.42,$83.85,$93.27,$97.31,$90.95
Griffin High School,Charter,"1,468.00","$917,500.00",$625.00,$83.35,$83.82,$93.39,$97.14,$90.60
Wilson High School,Charter,"2,283.00","$1,319,574.00",$578.00,$83.27,$83.99,$93.87,$96.54,$90.58
Pena High School,Charter,962.00,"$585,858.00",$609.00,$83.84,$84.04,$94.59,$95.95,$90.54

In [308]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999.00","$2,547,363.00",$637.00,$76.84,$80.74,$66.37,$80.22,$52.99
Figueroa High School,District,"2,949.00","$1,884,411.00",$639.00,$76.71,$81.16,$65.99,$80.74,$53.20
Huang High School,District,"2,917.00","$1,910,635.00",$655.00,$76.63,$81.18,$65.68,$81.32,$53.51
Hernandez High School,District,"4,635.00","$3,022,020.00",$652.00,$77.29,$80.93,$66.75,$80.86,$53.53
Johnson High School,District,"4,761.00","$3,094,650.00",$650.00,$77.07,$80.97,$66.06,$81.22,$53.54

In [309]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [310]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

In [311]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [312]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [313]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [319]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"].replace("[$,]", "", regex=True).astype(float),
    bins=spending_bins,
    labels=labels
)

print(school_spending_df)

                      School Type Total Students Total School Budget  \
school_name
Bailey High School       District       4,976.00       $3,124,928.00
Cabrera High School       Charter       1,858.00       $1,081,356.00
Figueroa High School     District       2,949.00       $1,884,411.00
Ford High School         District       2,739.00       $1,763,916.00
Griffin High School       Charter       1,468.00         $917,500.00
Hernandez High School    District       4,635.00       $3,022,020.00
Holden High School        Charter         427.00         $248,087.00
Huang High School        District       2,917.00       $1,910,635.00
Johnson High School      District       4,761.00       $3,094,650.00
Pena High School          Charter         962.00         $585,858.00
Rodriguez High School    District       3,999.00       $2,547,363.00
Shelton High School       Charter       1,761.00       $1,056,600.00
Thomas High School        Charter       1,635.00       $1,043,130.00
Wilson High School        Charter       2,283.00       $1,319,574.00
Wright High School        Charter       1,800.00       $1,049,400.00

                      Per Student Budget Average Math Score  \
school_name
Bailey High School               $628.00             $77.05
Cabrera High School              $582.00             $83.06
Figueroa High School             $639.00             $76.71
Ford High School                 $644.00             $77.10
Griffin High School              $625.00             $83.35
Hernandez High School            $652.00             $77.29
Holden High School               $581.00             $83.80
Huang High School                $655.00             $76.63
Johnson High School              $650.00             $77.07
Pena High School                 $609.00             $83.84
Rodriguez High School            $637.00             $76.84
Shelton High School              $600.00             $83.36
Thomas High School               $638.00             $83.42
Wilson High School               $578.00             $83.27
Wright High School               $583.00             $83.68

                      Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                   $81.03         $66.68            $81.93
Cabrera High School                  $83.98         $94.13            $97.04
Figueroa High School                 $81.16         $65.99            $80.74
Ford High School                     $80.75         $68.31            $79.30
Griffin High School                  $83.82         $93.39            $97.14
Hernandez High School                $80.93         $66.75            $80.86
Holden High School                   $83.81         $92.51            $96.25
Huang High School                    $81.18         $65.68            $81.32
Johnson High School                  $80.97         $66.06            $81.22
Pena High School                     $84.04         $94.59            $95.95
Rodriguez High School                $80.74         $66.37            $80.22
Shelton High School                  $83.73         $93.87            $95.85
Thomas High School                   $83.85         $93.27            $97.31
Wilson High School                   $83.99         $93.87            $96.54
Wright High School                   $83.95         $93.33            $96.61

                      Overall Passing Rate Spending Ranges (Per Student)
school_name
Bailey High School                  $54.64                      $585-630
Cabrera High School                 $91.33                         <$585
Figueroa High School                $53.20                      $630-645
Ford High School                    $54.29                      $630-645
Griffin High School                 $90.60                      $585-630
Hernandez High School               $53.53                      $645-680
Holden High School                  $89.23                         <$585
Huang High School                   $53.51                      $645-680
Johnson High School                 $53.54                      $645-680
Pena High School                    $90.54                      $585-630
Rodriguez High School               $52.99                      $630-645
Shelton High School                 $89.89                      $585-630
Thomas High School                  $90.95                      $630-645
Wilson High School                  $90.58                         <$585
Wright High School                  $90.33                         <$585

In [320]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\LabUser\AppData\Local\Temp\ipykernel_19144\3377404583.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()

TypeError: agg function failed [how->mean,dtype->object]